<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <script src="jquery.js"></script>
        <script src = "/socket.io/socket.io.js"></script>
        <script src="xuly.js"></script>
        <link rel = "stylesheet" type = "text/css" href = "layout.css">
    </head>
    <body>
        <input type = "text" id = "txtRoom">
        <input type = "button" id = "btnCreateRoom" value = "Tao Room">
        <div id = "left">
            <h3>ROOM đang có</h3>
            <div id = "listRoom"></div>
        </div>
        <h4 id = "roomNow"></h4>
        <div id = "right">
           
        </div>
        <input type = "text" id = "contentMessage">
        <input type = "button" id = "btnChat" value = "Chat">  
    </body>
</html>